---
import Main from "../layouts/Main.astro";
---

<Main>
  <!-- <header>HEAD</header>
        <main>CONTENT</main>
        <footer style="margin-top: 3000px;">FOOTER</footer> -->
  <!-- <iframe
    class="frame__old-content"
    src="https://fabiankachlock.dev/"
    allowtransparency="true"></iframe> -->
</Main>

<style>
  .frame__old-content {
    width: 100%;
    height: calc(100dvh - 2px - var(--inset) - var(--inset));
    border: 0;
  }
</style>
