---
import { changeLanguage } from 'i18next';
// import Card from "../components/Card.astro";
import { Image } from 'astro:assets';
import Main from '../layouts/Main.astro';
import meJpeg from '../assets/me.jpeg';

changeLanguage('de');
---

<Main>
  <main>
    <p>Hello World</p>
    <p>Hello World</p>
    <p>Hello World</p>
    <p>Hello World</p>
    <section class="hero">
      <div class="hero__image-wrapper">
        <div class="hero__image-mask">
          <Image class="hero__image" src={meJpeg} alt="" />
        </div>
        <div class="hero__frame">
          <div class="hero__bar b1"></div>
          <div class="hero__bar b2"></div>
          <div class="hero__bar b3"></div>
          <div class="hero__bar b4"></div>
          <div class="hero__bar b5"></div>
          <div class="hero__bar b6"></div>
          <div class="hero__bar b7"></div>
          <div class="hero__bar b8"></div>
        </div>
      </div>
    </section>
    <p style="margin-top: 4000px;">Hello World</p>
  </main>
  <!-- <div class="content">
    <Card>ABC</Card>
  </div> -->
</Main>

<style>
  /* .content {
    margin: 5rem;
    width: 200px;
    height: 300px;
  } */

  p:nth-of-type(1) {
    font-family: 'Mona Sans';
  }

  p:nth-of-type(2) {
    font-family: 'Mona Sans';
    font-weight: 800;
  }

  p:nth-of-type(3) {
    font-family: 'Mona Sans';
    font-style: italic;
  }

  p:nth-of-type(4) {
    font-family: 'Source Code Pro';
    font-style: italic;
  }

  p:nth-of-type(5) {
    font-family: 'Source Code Pro';
    font-style: normal;
  }
</style>

<style>
  .hero__image-wrapper {
    margin: 2rem auto;
    width: 40vw;
    height: 40vw;
    min-width: 200px;
    min-height: 200px;
    max-height: 400px;
    max-width: 400px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    border-radius: 50%;
    /* background-color: #141414; */
    /* overflow: hidden; */
    /* border: 2px solid #fff; */
    padding: 1rem;
    position: relative;
  }

  .hero__image-mask {
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: scale 70ms linear;
  }

  .hero__image {
    height: 120%;
    width: auto;
    translate: -28% -10%;
  }

  .hero__frame {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    transition: scale 70ms linear;
  }

  .hero__bar {
    width: 30%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: background-color 200ms linear;
  }

  .hero:has(.hero__image-wrapper:hover) .hero__bar {
    background-color: #39a7cd;
  }

  .hero:has(.hero__image-wrapper:hover) .hero__bar::after,
  .hero:has(.hero__image-wrapper:hover) .hero__bar::before {
    background-color: #fff;
  }

  .hero:has(.hero__image-wrapper:hover) .hero__frame {
    scale: 1.04;
  }

  .hero:has(.hero__image-wrapper:hover) .hero__image-mask {
    scale: 0.96;
  }

  .hero__bar::after,
  .hero__bar::before {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #39a7cd;
    display: block;
    border-radius: 50%;
    position: absolute;
  }

  .hero__bar::after {
    translate: -6px -5px;
  }

  .hero__bar::before {
    translate: -6px -5px;
    left: 100%;
  }

  .hero__bar.b1 {
    top: 3%;
    left: 50%;
    translate: -50% 0;
  }

  .hero__bar.b5 {
    bottom: 3%;
    left: 50%;
    translate: -50% 0;
  }

  .hero__bar.b3 {
    right: 3%;
    top: 50%;
    translate: 50% 0;
    rotate: 90deg;
  }

  .hero__bar.b7 {
    left: 3%;
    top: 50%;
    translate: -50% 0;
    rotate: 90deg;
  }

  .hero__bar.b2 {
    top: 17.5%;
    left: 82.5%;
    translate: -50% 0;
    rotate: 45deg;
  }

  .hero__bar.b4 {
    top: 82.5%;
    left: 82.5%;
    translate: -50% 0;
    rotate: -45deg;
  }

  .hero__bar.b6 {
    top: 82.5%;
    left: 17.5%;
    translate: -50% 0;
    rotate: 45deg;
  }

  .hero__bar.b8 {
    top: 17.5%;
    left: 17.5%;
    translate: -50% 0;
    rotate: -45deg;
  }

  .frame__old-content {
    width: 100%;
    height: calc(100dvh - 2px - var(--inset) - var(--inset));
    border: 0;
  }
</style>
