---
export type Props = {
  color: string;
  link: string;
  tools: string[];
};

const { color, link, tools } = Astro.props;
---

<div class="project-card">
  <a class="project-card__link" href={link}>
    <div class="project-card__image-wrapper">
      <img class="project-card__image" src="" alt="Test" width="1080" height="720" />
    </div>
    <div class="project-card__content">
      <div class="project-card__title">
        <!-- TODO: should this be a h3? -->
        <slot name="title" />
      </div>
      <div class="project-card__description">
        <slot name="description" />
      </div>
      <div class="project-card__tools">
        {tools.map(name => <p class="project-card__tool">{name}</p>)}
      </div>
    </div>
  </a>
</div>

<style define:vars={{ _background: color }}></style>
