---

---

<div class="card">
  <div class="card__decoration">
    <span class="card__hedge"></span>
    <span class="card__vedge"></span>
    <span class="card__corner tl"></span>
    <span class="card__corner tr"></span>
    <span class="card__corner bl"></span>
    <span class="card__corner br"></span>
  </div>
  <div class="card__content">
    <slot />
  </div>
</div>

<style>
  .card {
    --radius: 2rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    position: relative;
  }

  .card__decoration {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #222222;
  }

  .card__content {
    position: absolute;
    inset: 0;
    margin: calc(var(--radius));
  }

  .card__hedge::before,
  .card__hedge::after,
  .card__vedge::before,
  .card__vedge::after {
    background-color: #d8d8d8;
    content: "";
    position: absolute;
  }

  .card__hedge::before,
  .card__hedge::after {
    left: calc(var(--radius) / 2);
    height: 1px;
    width: calc(100% - var(--radius));
  }

  .card__vedge::before,
  .card__vedge::after {
    top: calc(var(--radius) / 2);
    width: 1px;
    height: calc(100% - var(--radius));
  }

  .card__hedge::before {
    top: 0;
  }

  .card__hedge::after {
    bottom: 0;
  }

  .card__vedge::before {
    left: 0;
  }

  .card__vedge::after {
    right: 0;
  }

  .card__corner {
    position: absolute;
    border: 1px solid #d8d8d8;
    background-color: #141414;
    width: var(--radius);
    height: var(--radius);
  }

  .card__corner.tl {
    left: 0;
    top: 0;
    translate: -50% -50%;
    clip-path: polygon(100% 50%, 50% 50%, 50% 100%, 100% 100%);
  }

  .card__corner.tr {
    right: 0;
    top: 0;
    translate: 50% -50%;
    clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
  }

  .card__corner.bl {
    left: 0;
    bottom: 0;
    translate: -50% 50%;
    clip-path: polygon(50% 0, 50% 50%, 100% 50%, 100% 0);
  }

  .card__corner.br {
    right: 0;
    bottom: 0;
    translate: 50% 50%;
    clip-path: polygon(0 50%, 50% 50%, 50% 0, 0 0);
  }
</style>
