---
import { localizePath } from 'astro-i18next';
import ThemeSwitch from '@/components/ThemeSwitch.astro';

import terminalIcon from '@carbon/icons/svg/32/terminal.svg?raw';
import translateIcon from '@carbon/icons/svg/32/translate.svg?raw';
import i18next, { t } from 'i18next';
import FullscreenSwitch from './FullscreenSwitch.astro';
import Terminal from './Terminal.vue';

const { pathname } = Astro.url;
---

<footer class="footer">
  <div class="footer__bar">
    <div class="footer__text">
      <p>© Fabian Kachlock 2023</p>
    </div>
    <div class="footer__spacer" style="flex: 1 0 0; width: 100%"></div>
    <div class="terminal-opener">
      <button class="terminal-opener__button">
        <Fragment set:html={terminalIcon} />
      </button>
    </div>
    <FullscreenSwitch />
    <ThemeSwitch />
    <div class="translate">
      <button class="translate__button">
        <Fragment set:html={translateIcon} />
      </button>
      <div class="language-select">
        <div class="language-select__wrapper">
          <div class="language-select__content">
            {
              i18next.languages.map(lng => (
                <a tabindex="0" href={localizePath(pathname, lng)}>
                  {t(`lng.${lng}`)}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__console">
    <div class="footer__console-content">
      <div class="footer__console-content-wrapper">
        <Terminal client:visible />
      </div>
    </div>
  </div>
</footer>

<script></script>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 100;
    position: sticky;
    bottom: 0;
  }

  .footer__bar {
    background-color: var(--color-surface);
    border-top: 1px solid var(--color-text);
    padding: 0.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap-reverse;
    grid-row: 2;
  }

  .footer__console {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
    transition: grid-template-rows 130ms ease-in-out;
  }

  .footer.open .footer__console {
    grid-template-rows: 1fr;
  }

  .footer__console-content {
    position: relative;
    overflow: hidden;
    background-color: var(--color-bg);
  }

  .footer__text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.3rem;
  }

  .footer__text p {
    margin: 0;
    font-family: 'Mona Sans';
    color: var(--color-text);
    font-size: 1rem;
  }

  :global(.fullscreen) .footer__console-content-wrapper {
    border-top: 1px solid var(--color-text);
  }

  .translate,
  .terminal-opener {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0.4rem;
  }

  .translate__button,
  .terminal-opener__button {
    cursor: pointer;
    background: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-text);
    background-color: var(--color-surface);
    padding: 2px;
    transition:
      box-shadow 70ms linear,
      translate 70ms linear;
    box-shadow:
      0px 0px 0 -1px var(--color-surface),
      0px 0px var(--color-text);
    z-index: 1;
  }

  .translate:hover .translate__button,
  .terminal-opener:hover .terminal-opener__button {
    translate: -3px -3px;
    background-color: var(--color-bg);
    box-shadow:
      3px 3px 0 -1px var(--color-surface),
      3px 3px var(--color-text);
  }

  .translate__button :global(svg),
  .terminal-opener__button :global(svg) {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-text);
    transition: scale 70ms linear;
  }

  .translate__button:active :global(svg),
  .terminal-opener__button:active :global(svg) {
    scale: 0.8;
  }

  .language-select {
    position: absolute;
    bottom: 20%;
    right: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
    overflow: hidden;
    opacity: 0;
    transition:
      grid-template-rows 120ms linear,
      opacity 120ms ease-in,
      bottom 120ms linear;
    pointer-events: none;
  }

  .language-select:has(a:focus),
  .language-select.open {
    opacity: 1;
    grid-template-rows: 1fr;
    bottom: 100%;
    pointer-events: unset;
  }

  .language-select__wrapper {
    overflow: hidden;
    width: max-content;
    background: var(--color-surface);
    border: 1px solid var(--color-text);
  }

  .language-select__content {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: stretch;
    text-align: center;
  }

  .language-select__content a {
    font-family: 'Mona Sans';
    color: var(--color-text);
    padding: 0.8rem 2rem;
  }

  .language-select__content a:hover {
    background: var(--color-bg);
  }
</style>
