---
import maximize from '@carbon/icons/svg/32/maximize.svg?raw';
import minimize from '@carbon/icons/svg/32/minimize.svg?raw';
---

<div class="fullscreen-switch">
  <button class="fullscreen-switch__button" aria-label="Fullscreen Switch">
    <div class="max">
      <Fragment set:html={maximize} />
    </div>
    <div class="min">
      <Fragment set:html={minimize} />
    </div>
  </button>
</div>

<script>
  document.querySelector('.fullscreen-switch__button')?.addEventListener('click', () => {
    document.body.classList.toggle('fullscreen');
  });
</script>

<style>
  .fullscreen-switch {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0.4rem;
  }

  .fullscreen-switch__button {
    cursor: pointer;
    background: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--color-text);
    background-color: var(--color-surface);
    padding: 2px;
    transition:
      box-shadow 70ms linear,
      translate 70ms linear;
    box-shadow:
      0px 0px 0 -1px var(--color-surface),
      0px 0px var(--color-text);
  }

  .fullscreen-switch:hover .fullscreen-switch__button {
    translate: -3px -3px;
    background-color: var(--color-bg);
    box-shadow:
      3px 3px 0 -1px var(--color-surface),
      3px 3px var(--color-text);
  }

  .fullscreen-switch__button :global(svg) {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-text);
    transition: scale 70ms linear;
  }

  .fullscreen-switch__button:active :global(svg) {
    scale: 0.8;
  }

  .fullscreen-switch__button .min {
    display: none;
  }

  :global(.fullscreen) .fullscreen-switch__button .max {
    display: none;
  }

  :global(.fullscreen) .fullscreen-switch__button .min {
    display: block;
  }
</style>
