---
import svgMenuButton from '@/assets/menu_button.svg?raw';
import ThemeSwitch from './ThemeSwitch.astro';
import LanguageSelect from './LanguageSelect.astro';
---

<header class="head">
  <div class="floating-menu">
    <button class="menu__opener">
      <Fragment set:html={svgMenuButton} />
    </button>
  </div>
  <nav class="menu">
    <div class="menu__content">
      <ul class="menu__nav">
        <li class="menu__item">
          <a class="menu__link" href="#about">Über mich</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#skills">Skills</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#projects">Projekte</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#contact">Kontakt</a>
        </li>
      </ul>
      <div class="menu__spacer"></div>
      <div class="menu__actions">
        <ThemeSwitch />
        <LanguageSelect />
      </div>
    </div>
  </nav>
</header>

<style>
  .floating-menu {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    background-color: transparent;
    z-index: 100;
    background-color: var(--color-bg);
    border: 1px solid var(--color-surface);
    padding: 0.2rem;
    border-radius: 7px;
  }

  .menu__opener {
    height: 3rem;
    width: 3rem;
    margin: 0;
    padding: 0;
    display: block;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .menu__opener :global(svg) {
    height: 3rem;
    /*                discard offset to start with gap 
                      |   gap to start to hide first cross (480 diag.)
                      |   |   menu button open state
                      |   |   |    gap to hide second cross piece (480+360)
                      |   |   |    |*/
    stroke-dasharray: 480 480 1400 840;
    stroke-dashoffset: 480;
    transition:
      stroke-dasharray 300ms ease-out,
      stroke-dashoffset 300ms ease-out;
  }

  .head.open .menu__opener :global(svg) {
    /*                show first cross 
                      |   gap to start to hide open state
                      |   |   show second cross
                      |   |   |   */
    stroke-dasharray: 480 1760 480;
    stroke-dashoffset: 0;
  }

  .menu {
    background-color: var(--color-surface);
    position: fixed;
    top: 0;
    bottom: 0;
    width: min(70vw, 300px);
    left: 100vw;
    transition: 300ms ease-in-out left;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 2px solid var(--color-text);
  }

  .menu__content {
    padding: 4rem 1rem 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: calc(100% - 5rem);
  }

  .menu__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .menu__item {
    padding: 0.5rem 1rem;
  }

  .menu__link {
    font-family: 'Source Code Pro';
    font-size: 1.5rem;
    color: var(--color-text);
  }

  .menu__link:hover {
    font-style: italic;
    color: var(--color-primary);
  }

  .menu__spacer {
    flex-grow: 1;
  }

  .menu__actions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .head:has(a:focus) .menu,
  .head.open .menu {
    left: calc(100vw - min(70vw, 300px));
  }

  .head:has(a:focus) + :global(.main-content),
  .head.open + :global(.main-content) {
    translate: max(-70vw, -300px) 0;
  }
</style>
