@font-face {
  font-family: 'Source Code Pro';
  src:
    url(/fonts/SourceCodePro.woff2) format('woff2') tech('variations'),
    url(/fonts/SourceCodePro.woff2) format('woff2 supports variations'),
    url(/fonts/SourceCodePro.woff2) format('woff2-variations');
  font-weight: 200 900;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url(/fonts/MonaSans.woff2) format('woff2') tech('variations'),
    url(/fonts/MonaSans.woff2) format('woff2 supports variations'),
    url(/fonts/MonaSans.woff2) format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --color-bg: #eeeedf;
  --color-transparent-bg: #dfdfdfa0;
  --color-text: #000;
  --color-primary: #39a7cd;
  --color-surface: #f7f7f7;

  --color-secondary-1: #109285;
  --color-secondary-2: #f6f677;
  --color-secondary-3: #7997de;
  --color-secondary-4: #ce7967;
}

[data-theme='dark'] {
  --color-bg: #191914;
  --color-transparent-bg: #141414a0;
  --color-text: #d3d3d3;
  --color-primary: #39a7cd;
  --color-surface: #222222;

  --color-secondary-1: #005c50;
  --color-secondary-2: #655418;
  --color-secondary-3: #2e4853;
  --color-secondary-4: #863c06;
}
