@font-face {
  font-family: "Source Code Pro";
  src: url(/SourceCodePro.woff2) format("woff2") tech("variations"),
    url(/SourceCodePro.woff2) format("woff2 supports variations"),
    url(/SourceCodePro.woff2) format("woff2-variations");
  font-weight: 200 900;
}

@font-face {
  font-family: "Mona Sans";
  src: url(/MonaSans.woff2) format("woff2") tech("variations"),
    url(/MonaSans.woff2) format("woff2 supports variations"),
    url(/MonaSans.woff2) format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --color-bg: #dfdfdf;
  --color-transparent-bg: #dfdfdfa0;
  --color-text: #292929;
  --color-primary: #39a7cd;
  --color-surface: #f7f7f7;
}

[data-theme="dark"] {
  --color-bg: #141414;
  --color-transparent-bg: #141414a0;
  --color-text: #d8d8d8;
  --color-primary: #39a7cd;
  --color-surface: #222222;
}
