---
import i18next from 'i18next';
import type { Props as AstroSeoProps } from '@astrolib/seo';

import CommonHead from '@/components/CommonHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import CommonSeo from '@/components/seo/CommonSeo.astro';

import '@/main.css';

export interface Props {
  title?: string;
  description?: string;
  seo?: AstroSeoProps;
}
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <CommonHead />
    <CommonSeo title={Astro.props.title!} description={Astro.props.description!} custom={Astro.props.seo!} />
    <slot name="head" />
    <script src="../scripts/setup.ts"></script>
  </head>
  <body>
    <div class="frame__content">
      <Header />
      <main class="main-content">
        <slot />
        <Footer />
      </main>
    </div>

    <style>
      html {
        font-size: 16px;
      }

      body {
        padding: 0;
        margin: 0;
        background-color: var(--color-bg);
        color: var(--color-text);
        cursor: crosshair;
      }

      .main-content {
        transition: 300ms ease-in-out translate;
      }
    </style>

    <style is:global>
      /* ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #39a7cd80;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #39a7cdc0;
  } */
    </style>
  </body>
</html>
