---
import type { ProjectEntry } from '@/content/config';
import Main from './Main.astro';
import { Image } from 'astro:assets';

export interface Props {
  project: ProjectEntry;
}

const { project } = Astro.props;
---

<Main>
  <article>
    <header>
      <h1>{project.data.title}</h1>
      <Image src={project.data.cover} alt={project.data.coverAlt} />
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </article>
</Main>
